/* Definición de variables de color */
:root {
    --color-verde: #007A3E;
    --color-verde-claro: #D4FFCA;
    --color-negro: #252C2E;
    --color-blanco: #FFFFFF;
    --color-gris: #888888;
    --color-gris-fondo: rgba(0, 0, 0, 0.5);
}

/* Estilos CSS utilizando variables */
.modal-right,
.modal-right-espacios {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
    background-color: var(--color-gris-fondo);
    z-index: 2000;
}

.modal-contenido,
.modal-contenido-config-user,
.modal-content-add-espacio {
    position: relative;
    background-color: var(--color-blanco);
    margin: 0 auto;
    border: 1px solid var(--color-gris);
    height: 100% !important;
    display: grid;
    place-content: center;
    place-items: center;
}

.modal-contenido {
    width: 350px;
}

.modal-contenido-config-user {
    width: 800px !important;
}

.modal-content-evidencia,
.modal-content-user,
.modal-content-config-user {
    height: 100vh !important;
    overflow-y: auto;
}

.modal-content-evidencia .modal-body {
    display: grid;
    place-items: center;
    place-content: center;
}

.modal-header {
    color: var(--color-verde);
    background-color: var(--color-verde-claro);
    border-bottom: 1px solid var(--color-verde);
}

.btn-modal-cancel,
.btn-subir-evidencia-card,
.title-card-content {
    color: var(--color-verde);
}

.btn-modal-cancel:hover,
.btn-subir-evidencia-card:hover {
    border-bottom: 1px solid var(--color-verde);
    border-right: 1px solid var(--color-verde);
}

.card-space {
    color: var(--color-negro);
    border: 1px solid var(--color-verde);
}

.list-group > .list-group-item {
    background-color: var(--color-verde-claro);
    margin-bottom: 10px;
}

.body-titles-container {
    color: var(--color-verde);
}
